<<<<<<< HEAD

=======
>>>>>>> 24819dca074587bf62c77e5c5e3e178e2f410020
.text-muted{
  font-size: 12px;
  max-width: 295px;
  margin: 0 auto;
  line-height: 20px;
}

.businesslogo{
  margin-left: 1200px;
  margin-top: 10px;
  margin-bottom: -60px;
}

.businesslogo img{
  height: 70px;
  width: 100px;
}

/*full page width*/
.logoart {
  width: 100vw;
}

/*centering image*/
.logoart > img {
  /*relative to its parent*/
  margin: 0 auto;
  width: 400px;
  margin-bottom: -10px;
}

.custom-navbar {
  display: flex;
    justify-content: center;
    font-family: 'oswald';
    font-size: 20px;
  font-weight: 300 px;
  letter-spacing: 2.1px;

}
.social-media{
  text-align: center;
}

.custom-navbar > p {
  margin: 15px;
  color: #3d3d3d;

}
.omg{

    width: 500px;
    height: 250px;
    position: absolute;
    float: left;

}
/* .custom-navbar{
  margin-top: 50px;
} */
.custom-navbar > p > a {
  color: black;
  transition: color .1s ease;
}

.custom-navbar > p > a:hover {
 /*  text-decoration: none; */
 color: #474747 ;
}

.intro-heading{
  /* color: #b8286f !important; */
  font-family: "Oswald";
  margin-left: -40px;

}

.box {
  width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding: 30px;
}
.box2{
    width: 800px;
  margin: 0 auto;
/*   border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0; */
  padding: 30px;
}

.recipes{
  width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding: 30px;
}

.recipes .recipe {
  /* border-bottom: 1px solid gray; */
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#no-description {
  flex-direction: row;
}
.recipe__title{
  width: 110%;
  padding-left: 10px;
}
.recipes .recipe__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recipes .recipe__top figure figcaption {
  text-align: center;
}
.recipes .recipe__top .recipe__info {
  margin-left: 30px;
}
.recipes .recipe__top .recipe__info .recipe__info__name {
  font-family: 'Lobster Two', 'Just Another Hand';
}
.recipes .recipe .recipe__bottom {
  display: flex;
  justify-content: space-around;
}
.recipes .recipe .recipe__bottom .recipe__instructions {
  width: 100%;
}
.recipe__instructions{
    padding-left: 30px;
}
.recipes .recipe__feelings {
  margin-bottom: 30px;
}

.recipe__title{
  font-family: 'Lobster Two', 'Just Another Hand' ;

}
.recipe__feelings{
   margin-top: -30px;
}
.recipe__row{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.recipe__instructions__flex{
  display: flex;
  flex-direction: row;

}

.recipe__box{
 display: flex;
 flex-direction: row;
}

.recipe__image{
  width: 325px;
  height: 325px;
}

.recipe__ingredients{
  padding-left: 30px;
  width: 80%;
}
.recipe__ingredients2{
  width: 100%;
}
.recipe__box >figure{
  width: 325px;
}
.recipe{
  margin-bottom: 10px;
}
figure{
  text-align: center;
}
.intro{
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.images_of_food{
 width: 800px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 padding-top: 10px;
}
.images_of_food>img{
  width: 200px;
  height: 250px;
  padding: 10px;

}

.about {

}

.what-it-is {

}
.tour{
  width: 800px;
  margin: 0 auto;
}
#compass{
  width: 150px;
  float: right;
}
.country{
/*   padding: 35px; */
  padding-top:0px;
  padding-bottom: 68px;
}
.button{
  background-color: #e7e7e7;
  color: black;
  padding: 10px 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  float: right;
  margin-right: 15px;
  /* border-radius: 15%; */

}
.button:hover {
    background-color: #a7a9aa;
    color: white;
     text-decoration: none;
}
.intro-subheading{
  color: #b8286f !important;

}
.intro-headingmain{
  color: #b8286f !important;
  font-size: 40px;
  font-family: 'Just Another Hand' !important;

}
.recipe-heading{
  color: #b8286f !important;

}
.begin{
  margin-left: -30px;
}

.col-xs-8{
  padding: 20px;
}

.travels{
  margin-left: 40px;
  /*
  .descriptions{
    margin-bottom: 10px;
    margin-top: 400px;
  }
  */
}


.box #iceland1{
  width: 270px;
  float: left;
  padding: 16px;
}
.numbers{
  margin-left: 50px;
}
.jumbotron {
  min-height: 0px;

  margin-bottom: 10px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff !important; */
  font-family: 'Yanone Kaffeesatz' !important;
}

.container .jumbotron {
  padding:0px 3px;

}
.row h5{
  text-align: center;
  color: black !important;
}
.row_travel{
  margin-right: -135px;
  margin-left: -25px;
 

}
.jumbotronRecipe {
  position: relative;
  color: red !important;
  width: 100%;
  height: 100%;

  overflow: hidden;
  padding: 20px;
  line-height: 1.42857143;
}


.author-box {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding: 30px;
}


.author-box-image{
  width: 150px;
  margin: 10px;
}


.author-box .info {
  overflow: hidden;
  margin-bottom: 70px !important;

}
.author-box .info p {
  color: #666;
  font-weight: 300;
  line-height: 24px;
}
.author-box .info h6 {
  font-size: 14px;
  color: #666;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  font-style: italic;
}
.author-box .info h6 a {
  color: #b09f23;

}
/*for the first row of images*/
.entry img {

  background:#fff;

  padding:0px;

  margin:1px;

  -moz-border-radius:6px;

  -webkit-border-radius:6px;

  border-radius:6px;

  border:1px solid #e0e0e0;

  box-shadow: 0px 0px 7px #958365;

  -webkit-box-shadow: 0px 0px 7px #e6e6e6;

  -moz-box-shadow: 0px 0px 7px #e6e6e6;
}

h3{
  /* font-family: 'Oswald'!important; */
  font-size: 25px!important;
}

.paragraph1{
  font-family: 'Slabo 27px' !important;
  font-size:  17px;
  margin-left: -35px;
  margin-bottom: 25px;

}
.box #garbatella{

  width:210px;
  padding: 10px;
  float: left;
}

.media-object{
  margin-right: 20px;

}
.container {
  display:center;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

/*text over image*/
.image {
 position: relative;
 width: 100%; /* for IE 6 */

}

.title_food {
 color: white !important;
 font: bold 24px/45px;
 font-family: 'Lobster', 'Just Another Hand'  !important;
 letter-spacing: 3px;
 background: rgba(0, 0, 0, 0.5);
 padding:  15px;
 width: 100%;
 height: 96px;
 z-index: 3;
 position: relative;
 margin-top: -96px;
 font-size: 35px;
}


#adventures {
  margin-left: 30px;
}

#travel {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin-left: 30px;
}

.hover_image {
  display: block;
}

.hover_image > img {
  width: 400px;
  height: 250px;
}

.hover_image > a {
  display: block;
}

.section-heading {
  font-size: 40px;
  /* text-align: center; */
  font-family:'Oswald';
  margin-top: 45px;
}
.section-heading p{
 font-size: 4px;
}
.section-heading3{
  font-size: 40px;
  margin-top: -30px;
  margin-bottom: -60px;
  font-family: 'Pompiere', cursive;
}
.section-heading4{
  font-family: 'Pompiere', cursive !important;
  margin-top: 50px;
  margin-bottom: 0px;
  font size:20px;
}
.section-heading5{
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: -80px;
  text-align: center;
  font-family: 'Pompiere', cursive;
}
.section-subheading{
  margin-left: 30px;
  font-size: 60px;
  font-family: 'Just Another Hand' !important;
  margin-top: -10px;
  color: #b8286f !important;
}


.places{
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Arima Madurai' !important;
  color:  #373333 !important;
  font-weight: 300px !important;
}

hr {
  border-color: #f05f40 !important;
  border-width: 3px !important;
  max-width: 100px;
  margin-top: 10px !important;
}


hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.coordinates{
  margin-left: 1280px;
  margin-top: -40px;
}
.compass1{

  margin-top: 50px;
  margin-right: 30px;

}
.compass1 img{

  height: 200px;
  width: 160px;
}
.compass2{
  margin-top: 50px;
  margin-right: 30px;

}
.compass2 img{

  height: 200px;
  width: 160px;
}
.footer-container{
  text-align: center;
}

#footer {

  margin-bottom: 50px;
  font-size: 11px;
  line-height: normal;
  color: #999;

  text-align: center;
}


.content-heading{
  float: right;
  margin-right: 550px;
}

.span4 p{
  float: right ;
  margin-top: -100px;
  margin-left: 220px;
}

/*
.recipes{
  padding-left: 308px;
}
*/

.under_flex{
  margin-top: 100px;
  display: flex;
  align-items: center;
  /*
  margin-bottom: 40px;
  */
}
.recipe >p{
  font-size: 15px;
  padding-left: 308px;
}
.recipe_image{
  height: 325px;

}
figure{
  vertical-align: center;
}
.recipe2{

  margin-right: 100px;
  font-family: 'Lobster Two', 'Just Another Hand' ;
}
.media{
  margin-left: 40px;
}
/* 800 max width is a good size forthe eyes */
/* auto same margin on left and right */
.recent_adventures{
  max-width: 800px;
  margin: 0 auto;
}
.recent_image{
  width: 200px;
  float: left;
  padding: 10px;
}
.adventures__text{
  font-family: 'Oswald';
}
.adventures > p{
 padding: 10px;


}
.flex_travel{
  display: flex
}
.flex{
  display: flex;
  align-items: center;
  margin-bottom: 40px;

}
.flex2{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.flex_recipe{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact{
   width: 800px;
  margin: 0 auto;
}

/*
.recent_adventures{
  margin-left: 350px;
  margin-right:  200px;
}

.recent_adventures img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.annoying{
  margin-left: 30%;
}
*/
.recent_adventures img{
  margin: 0 auto;
}
.salmon-description{
  margin-left: 20px;
  margin-right: 30px;
  text-align: center;
}
.tofu-description{
  margin-left: 20px;
  margin-right: 30px;
  text-align: center;
}
.challah-description{
  margin-left: 20px;
  margin-right: 40px;
  text-align: center;
}
.challah-feel{
  margin-top: -20px;
  margin-left: 30px;
}
.moveupCAKE{
  margin-top: -100px;

}
.recipe3{
  margin-right: 100px;
  font-family: 'Lobster Two', 'Just Another Hand' ;
}
.recipe5{
  margin-right: 100px;
  margin-top: 40px;
  font-family: 'Lobster Two', 'Just Another Hand' ;
}
.recipe6{
  margin-right: 100px;
  margin-top: 40px;
  font-family: 'Lobster Two', 'Just Another Hand' ;
}
.new-line{
  margin-top: -20px;
}
.recipe4{
 font-family: 'Lobster Two', 'Just Another Hand' ;
 margin-bottom: -40px;
 margin-top:70px;
}
.paragraph1 #recipe_image{
  width: 300px;
  float: left;
}
.plane{
  margin: 0 auto;
}
.footer{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.footer > img{
  float: left;
  max-width: 800px;
  text-align: center;

}


body {
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.btn-xl{
  font-family: 'Pompiere', cursive;
  font-size: 18px !important;
}

.love{
  font-family: 'Just Another Hand' !important;
}

.explanation{
  color: #666;
  font-weight: 300;
  line-height: 24px;
}

p {
  max-width: 800px;
  /*0, for top and bottom, and auto indent left and right side*/
  margin:0 auto;
}

@media only screen and (max-width: 40em) {
  body{
    width: 40%;
  }

  .intro-heading{
    margin-left: 10%;
  }



  .section-subheading{
    font-size: 30px !important;
    margin-left: -5px;
    width: 100%;
  }
  .jumbotron{
    width: 250%;
  }
  .compass1{
    width: 100% !important;
  }
  .section-heading{
    font-size: 30px;
    margin-left: 100px;
  }
  .primary{
    width: 5em;
    margin-left: 100px;
  }
  .compass1 img{
    display: none;
  }

  .compass2 img{
    display: none;
  }
  .places p{
    font-size: 14px !important;
    width: 100% !important;
  }
  /*
  .compass1 {
    width: 100% !important;
  }
  */
  .intro-heading h3{
    font-size: 25px;
    width: 300%;
    font-family: "oswald";

  }

  .numbers{
    margin-left: 10px;
    width: 300%;
  }


  .btn-lg{
    font-size: 15px !important;
    margin-top:10%;
    margin-left: 120%;

  }
  .hovereffect{
    font-size: 10px;
    margin-top: -50px;
  }

  .descriptions{
    width: 590% !important;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: -60px;
    width: 160%;
  }

  .hovereffect:hover .overlay{
    display: none;
  }
  .navbar-header{
    margin-top: 52px;
  }



  .navbar-static-top {
    display: none;
  }
  .col-s-2{
    margin-left:60px;
    margin-top: -10px;
  }
  .col-md-4{

    margin-left:60px;
    margin-top: -10px;
  }
  #travel_flex{
      display: flex;
  }
  .image{
    display: none;
  }
  .intro-subheading{
    margin-top: -40px;
  }
  .author-box{
    /*margin-right: 100px;*/
    margin-left: 5px;
  }
  .info{
    width: 400px;
  }
  .logo img{
    margin-left: -350px;
    margin-top: 70px;
    margin-bottom: -70px;
  }
  .tour{
    margin-left: 10%;
  }

  .section-heading5 h1{
    margin-left: 30px;
    width: 200%;
    font-size: 25px !important;
  }
  .section-heading4{
    font-size: 25px !important;
    margin-bottom: 10px;
  }
  .section-heading3 h1{
    width: 200%;
    margin-left: 10px;
    font-size: 25px !important;
  }
  .fa-paper-plane{
    font-size: 30px !important;
  }
  #footer-container{
    margin-top: 20px;
    margin-left: -115px;
    width: 300px;
  }
  .footer2{
    width: 350px !important;
  }
  .explanation2{
    width: 400%;
  }
  .love{
    margin-left: 10px;
    width: 300%
  }
  .love h6{
    font-size: 20px;
  }

  .begin{
    margin-left: 5px;
    width: 100%;
  }

  .intro-headingmain{
    margin-top: 100px;
    width: 260%;
    margin-bottom: -100px;
  }

  .headingpar{
    width:135%;
    margin-left: -15px;
  }

  .logo img{
    height:75px;
    width:70px;
  }
}
